<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:include="fragments/common :: head">

</head>

<body class="login-img3-body">
<div th:replace="fragments/common :: header"></div>
<div class="container">

    <form action="/logout" method="post">
        <input type="submit" value="Log Out">
    </form>

    <table>
        <thead>
        <td><span th:text="client.name"></span></td>
        <td><span th:text="food.calories"></span></td>
        <td><span th:text="food.proteins"></span></td>
        <td><span th:text="food.fats"></span></td>
        <td><span th:text="food.carbohydrates"></span></td>
        <td><span th:text="food.fav"></span></td>
        </thead>

        <tr th:each="record : $">
            <td style="padding-right: 4px;">
                <span th:text="${record.name}"></span></td>
            <td style="padding-right: 4px;">
                <span th:text="${record.averageDeflection.calories}"></span></td>
            <td style="padding-right: 4px;">
                <span th:text="${record.averageDeflection.protein}"></span></td>
            <td style="padding-right: 4px;">
                <span th:text="${record.averageDeflection.fat}"></span></td>
            <td style="padding-right: 4px;">
                <span th:text="${record.averageDeflection.carbohydrates}"></span></td>
            <td style="padding-right: 4px;">
                <span th:text="${record.favFood}"></span></td>
        </tr>
    </table>
</div>


</body>

</html>
